<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            {{!-- this refers to the partiala header file . it resues its value --}}
        {{title}} 
        </div>
    </body>
   
</html> 